table.principal{
    width: 100%;
    border-collapse:collapse;
    background-color: rgba(54, 116, 187, 0.849);
    border-color: darkblue;
    
}
/*div{
    
    text-align: center;
    background-color: rgb(252, 251, 246);
    width:210mm;
    border: 10px solid rgba(54, 116, 187, 0.808);
    padding: 2px;
    margin: 12px;

}*/
span{
    font-family:monospace
}
h4{
    font-family:monospace
}
h1{
   
    color: rgb(6, 44, 128);
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
p{
    font-size: 5mm;
}
body{
    background-color: rgb(214, 235, 252);
}
li{
    font-size: 5mm; 
}
footer{
    position: absolute;
    background-color:rgba(54, 116, 187, 0.808);
    color: #FFF;
    width: 100%;
    height: 100px;    
    text-align: center;
    line-height: 100px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
    color: rgb(6, 44, 128);
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.simbolo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border: 10px outset rgb(80, 162, 230);
}
.text_simbolo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    border: 4px double rgba(0, 102, 255, 0.973);
    background-color: rgb(118, 185, 240);
    width: 80%;
    height: ;
    padding: 10px;
    margin: 10px;
}
.simbolo_video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 560px;
    height: 315px;
    border: 10px outset rgb(80, 162, 230);
}
.mapa{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 260px;
    border: 10px outset rgb(80, 162, 230);
}
div.video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 560px;
    height: 315px;
    border: 10px outset rgb(80, 162, 230);
}
.visited:visited{
    color: goldenrod;
}
.iraty{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    border: 10px outset rgb(80, 162, 230);
}
table{
    width: 100%;
    border-collapse:collapse;
    border-color: darkblue;
}
.titulo{
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: inherit;
}